<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}For You 💌{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
</head>
<body>

  <!-- NAVBAR -->
<nav class="navbar">
  <div class="nav-left">
    <a href="{{ url_for('home') }}" class="nav-home">🏠 Home</a>
  </div>


  <div class="nav-right">
    <div class="dropdown">
      <button class="dropbtn">Year ▾</button>
      <div class="dropdown-content">
        <a href="{{ url_for('year_2025') }}">2025</a>
      </div>
    </div>
  </div>
</nav>


  <!-- PAGE CONTENT -->
  {% block content %}{% endblock %}

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
